[Desktop Entry]
Name=Notifications App
GenericName=Notifications App
Comment=Proves that we can use Vala and Gtk
Categories=Utility;Education;
Exec=com.github.matthewmcneilly.gtk-hello
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=hello-again
Keywords=Hello;World;Example;
X-GNOME-UsesNotifications=true
